.vs/
.git/

bin/
obj/

API/bin/
API/obj/

Console/bin/
Console/obj/

ApplicationCore/bin/
ApplicationCore/obj/

Infrastructure/bin/
Infrastructure/obj/

TestApplicationCore/bin/
TestApplicationCore/obj/

TestInfrastructure/bin/
TestInfrastructure/obj/

Web/bin/
Web/obj/
